$navmenu: '.mast-menu';

#{$navmenu}{
	background-color: #ededed;
	padding-top: 0;
	padding-bottom: 0;
	.navbar-nav {
		.nav-item {
			.nav-link {
				text-transform: uppercase;
				font-size: 0.67rem;
				@include media-breakpoint-down(sm) {
					padding-left: 2.5rem;
					font-family: 'Gotham-Bold';
				}
			}
			&.active {
				.nav-link {
					color: $brand-color;
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		justify-content: flex-end;
	}
}
