$ban-banner: '.auc-banner';

#{$ban-banner}{
	&__desc {
		.caption {
			color: #fff;
		}
	}
}

.auc-bannerbg {
	&--red {
    background: {
      color: #eb0029;;
      image: url('../img/home/banner/banner-2040.jpg');
      size: cover;
      position: center;
      repeat: no-repeat;
    }
	}

}

