	.custom-checkbox > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked),
	.custom-checkbox > [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label,
	.custom-checkbox > [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 22px;
		cursor: pointer;
		font-size: 0.72rem;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0;
		top: 50%;
		margin-top:-9px;
		width: 17px;
		height: 17px;
		border: 1px solid #ddd;
		background: #ffffff;
		border-radius: 2px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		font-family: 'Font Awesome 6 Free';
    	font-weight: 900;
		content: '\f00c';
		position: absolute;
		top: 50%;
		margin-top:-10px;
		left: 2px;
		color: $brand-color;
		transition: all .2s;
	}

	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}