/**
 * ----------------------------------------
 * webfont: UniversNextforHSBC
 * ----------------------------------------
 */

@font-face {
    font-family: 'UniversNextforHSBC-bold';
    src: url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Bold.woff') format('woff'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Bold.woff2') format('woff2'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Bold.eot'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Bold.otf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversNextforHSBC-medium';
    src: url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Medium.woff') format('woff'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Medium.woff2') format('woff2'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Medium.eot'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Medium.otf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversNextforHSBC-regular';
    src: url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Regular.woff') format('woff'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Regular.woff2') format('woff2'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Regular.eot'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Regular.otf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversNextforHSBC-light';
    src: url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Light.woff') format('woff'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Light.woff2') format('woff2'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Light.eot'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Light.otf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversNextforHSBC-thin';
    src: url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Thin.woff') format('woff'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Thin.woff2') format('woff2'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Thin.eot'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniversNextforHSBC/UniversNextforHSBC-Thin.otf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
